h1{
    margin-top: 100px;
    border-bottom: 5px solid rgb(255, 145,0);
    padding: 0;
    width: 11%;

}

body{

     background-color: rgb(255,255,255);
     font-family: 'Oswald', sans-serif;

}

.navbar-expand-lg{
    padding: 0px;
}

img{
    float: left;
}

#button{
	
   width: 200px;
}

.donationP{
	
    line-height: 2;
    font-size: 18px;
}


.container{
    border: 10px solid rgb(255,255,255);
}

#imgOne{
    border-bottom: 10px solid rgb(255, 145,0);
    padding: 0;
    width: 950px; 
    height: 500px;
}

#imgTwo{
    border-bottom: 10px solid rgb(255, 145,0);
    padding: 0;
    width: 950px; 
    height: 500px;

}
#imgThree{
    border-bottom: 10px solid rgb(255, 145,0);
    padding: 0;
    width: 950px; 
    height: 500px;
}
